/******** GLOBAL STYLES ********/
html {
	font-size: 16px;
}

body {
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: .9em;
	color: #000000;
	flex-wrap: row wrap;
}

/* The width property has been changed to max-width */
.content-wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 0.8em;
}

p {
	line-height: 2.3em;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
	display: flex;
	justify-content: center;
	text-align: center;
}

header h1 {
	width: 100%;
}

header h1 span {
	color: #45610E;
}

header nav {
	display: flex;
}

header nav ul {
	display: flex;
	flex-direction: row wrap;
	width: 100%;
}

header nav ul li {
	display: flex;
	align-content: center;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0 10px;
}

header nav ul li a {
	display: flex;
	color: #45610E;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */
.main-image img {
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
	margin: 28px 15px;
	padding: 8px 12px;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
	text-align: center;
	border-radius: 16px 35px;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {}

.bottom-section .content-wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	align-content: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row wrap;
}

.section-one {
	width: 29%;
}

.section-two {
	width: 42%;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;
}

.section-three {
	width: 29%;
}

.bottom-section h3 {
	display: flex;
	text-align: center;
	flex-flow: row wrap;
	justify-content: inherit;
}

.menu-list {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	list-style: none;
}

.menu-list li {
	display: flex;
	flex-flow: row wrap;
	color: #45610E;
	font-size: 1em;
	line-height: 36px;
	border-style: outset;
	border-radius: 14px 8px;
	position: relative;
	text-align: center;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	width: 85%;
	display: flex;
	text-align: center;
}
footer span {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #45610E;
	font-size: 0.9em;
}
/*For Laptops & Desktops*/
@media screen and (max-width: 1400px) {
	body {
		display: flex;
		min-width: 1200px;
		flex-flow: row wrap;
		text-align: center
	}

	header nav ul {
		display: flex;
		justify-content: center;
		flex-flow: row wrap; 
	}

	h1
	h2
	h3
	h4 {
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

	}

	.section-one {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 33.3%;
	}

	.section-two {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 33.3%;
	}

	.section-three {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		width: 33.3%;
	}
	
.menu-list li {
	display: flex;
	justify-content: inherit;
	text-align: justify;
}

	.bottom-section 
	.content-wrapper {
		text-align: inherit;
		display: flex;
		flex-flow: row wrap;


	}
	
	.content-wrapper {
		display: flex;
		max-width: 1400px;
		justify-content: center;
		flex-flow: row wrap;
	}
}

/*For tablets*/
@media screen and (min-width: 768px) {
.main-img img {
	min-width: 800px;
	display: flex;
	flex-flow: row wrap;
}
}
/*For mobile devices*/
@media screen and (max-width: 480px) {
.main-img img {
	display: flex;
	justify-content: center;

}

header h1 {
	display: flex;
	align-items: center;
	flex-wrap: row wrap;
	justify-content: center;
}


body {
	display: flex;
	flex-wrap: row wrap;
	max-width: 480px;

}

header nav {
    display: flex;
	text-align: center;
	justify-content: space-between;
}

header nav ul li a {
	justify-content: center;
	display: flex;
	position: relative;
}
}